@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sk-Modernist-Bold';
	src: url('../fonts/Sk-Modernist-Bold.otf');
}

@font-face {
	font-family: 'Sk-Modernist-Mono';
	src: url('../fonts/Sk-Modernist-Mono.otf');
}

@font-face {
	font-family: 'Sk-Modernist-Regular';
	src: url('../fonts/Sk-Modernist-Regular.otf');
}

.Transition {
	transition: transform 0.3s ease-in-out;
}

.Transition:hover {
	transform: scale(1.1);
}
