@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sk-Modernist-Bold';
	src: url('../fonts/Sk-Modernist-Bold.otf');
}

@font-face {
	font-family: 'Sk-Modernist-Mono';
	src: url('../fonts/Sk-Modernist-Mono.otf');
}

@font-face {
	font-family: 'Sk-Modernist-Regular';
	src: url('../fonts/Sk-Modernist-Regular.otf');
}

.Transition {
	transition: transform 0.3s ease-in-out;
}

.Transition:hover {
	transform: scale(1.1);
}

/* Place UI on top of media provider. */
.media-controls-container {
	position: absolute;
	bottom: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
	background: #000;
}

.media-controls {
	width: 100%;
	justify-content: space-between;
}

.media-float-container {
	position: fixed;
	max-width: 200px;
	bottom: 24px;
	right: 24px;
	z-index: 9999;
}
